<%= render 'common/errors', model: @team %>

  <%= form_for @team, html: {multipart: true} do |f| %>

    <div class="field" style="100%;">
      <p>
        <%= f.label :name %><br>
        <%= f.text_field :name, class: 'form-control2' %>
      </p>
      <p>
        <%= f.label :city %><br>
        <%= f.text_field :city, class: 'form-control2' %>
      </p>
       <p>
        <%= f.label :photo %><br>
        <%= f.file_field :photo, class: 'form-control2' %>
      </p>
      <p>
        <%= f.label :players %><br>
        <%= f.collection_check_boxes :player_ids, Player.all, :id, :surname %>
      </p>
      </p>
        <%= f.hidden_field :user_id, value: session[:user_id] %>
      <p>
      <p>
        <%= f.submit class: 'btn btn-lg btn-success'%>
      </p>

    </div>
  <% end %>