<section class="container pb-5">
  <div class="row">

          <div class="col-12">

              <h2 class="text-center">Drużyny: </h2>

                <% if current_user && current_user.admin? %>

              <p>
                <%= link_to "Dodaj drużynę", new_team_path, class: 'btn btn-lg btn-secondary' %>
              </p>

              <% end %>
          
            <div class="row pb-5">

                <% @teams.each do |team| %>

              <div class="col-12 col-sm-12 col-md-4 p-2">
                <div class="card2"> 
                  <div class="card-topper2">

                    <% if team.image.present? %>

                      <%= link_to image_tag(team.image.url, alt: "Team", class: "teams"), team_path(team) %>
                      

                    <% else %>

                      No image

                    <% end %>

                  </div>

                  <div class="card-block text-center">

                        <%= link_to 'More', team_path(team), class: 'btn btn-lg btn-info'%>

                      <% if current_user && current_user.admin? %>

                        <%= link_to 'Edit', edit_team_path(team), class: 'btn btn-lg btn-warning' %>
                        <%= link_to 'Delete', team_path(team), class: 'btn btn-lg btn-danger', method: :delete, data: {confirm: "Are you sure?"} %>

                      <% end %>

                  </div>
                </div>
              </div>
                <% end %>
            </div>
          </div>
  </div>
</section>