<section class="container pb-5">

  <div class="row">

    <div class="col-12">

      <h2 class="text-center">Drużyny: </h2>

        <% if current_user && current_user.admin? %>

          <p>
            <%= link_to "Dodaj drużynę", new_team_path, class: 'btn btn-lg btn-secondary' %>
          </p>

        <% end %>
          
        <div class="row pb-5">

          <% @teams.each do |team| %>

            <div class="col-12 col-sm-12 col-md-4 p-2">
              <div class="card"> 
                <div class="card-topper">

                  <% if team.image.present? %>

                    <%= link_to image_tag(team.image.url, alt: "Team", class: "picture"), team_path(team) %>
                      
                  <% else %>

                    <p>No image</p>

                  <% end %>

                </div>

                <div class="card-block text-center pt-2">

                      <%= link_to 'Więcej', team_path(team), class: 'btn btn-lg btn-info'%>

                    <% if current_user && current_user.admin? %>

                      <%= link_to 'Edytuj', edit_team_path(team), class: 'btn btn-lg btn-warning' %>
                      <%= link_to 'Usuń', team_path(team), class: 'btn btn-lg btn-danger', method: :delete, data: {confirm: "Czy na pewno?"} %>

                    <% end %>

                </div>
              </div>
            </div>

          <% end %>

        </div>

      </div>
      
  </div>

</section>