<div class="row" style="padding-bottom: 10px;">
  <div class="col"> </div>
    <div class="col-sm-10" >
  
        <p>
          <% if @team.image.present? %>
            <%= image_tag(@team.image.url, style: "width:25%;") %>
          <% else %>
            <%= image_tag 'volley.jpg', style: "width:25%;" %>
          <% end %> 
        </p> 
        <p>
          <strong>Name:</strong>
            <%= @team.name %>
        </p>
        <p>
          <strong>City:</strong>
            <%= @team.city %>
        </p>
         <p>
          <strong>Players</strong>
            <% @team.players.each do |player| %>
            <%= link_to player.surname, player_path(player) %>
            <% end %> 
        </p>
        <p>
          <strong>Created at:</strong>
            <%= @team.created_at %>
        </p>
        <p>
          <strong>Updated at:</strong>
            <%= @team.updated_at %>
        </p>      

          <%= link_to 'Back', teams_path, class: 'btn btn-md btn-info' %>
        
    </div>
  <div class="col"> </div>
</div>