<div class="row" style="padding-top: 100px;">
  <div class="col"> </div>
    <div class="col-md-10">
  
        <p>
          <strong>Name:</strong>
            <%= @team.name %>
        </p>
        <p>
          <strong>City:</strong>
            <%= @team.city %>
        </p>
        <p>
          <strong>Created at:</strong>
            <%= @team.created_at %>
        </p>
        <p>
          <strong>Updated at:</strong>
            <%= @team.updated_at %>
        </p>      

          <%= link_to 'Back', teams_path, class: 'btn btn-md btn-info' %>
        
    </div>
  <div class="col"> </div>
</div>