<section class="container-fluid pt-2 pb-5 text-center">
  <div class="row">
      <div class="col-12">
  
        <p>
          <% if @team.image.present? %>
            <%= image_tag(@team.image.url, style: "width:25%;") %>
          <% else %>
            <%= image_tag 'volley.jpg', style: "width:25%;" %>
          <% end %> 
        </p> 
        <p>
          <strong>Nazwa:</strong>
            <%= @team.name %>
        </p>
        <p>
          <strong>Miasto:</strong>
            <%= @team.city %>
        </p>
         <p>
          <strong>Zawodnicy</strong>
            <% @team.players.each do |player| %>
            <%= link_to player.surname, player_path(player) %>
            <% end %> 
        </p>
     
        <div class="pb-5 float-left">

          <%= link_to 'Powrót', teams_path, class: 'btn btn-lg btn-primary' %>    
        </div> 

      </div>
  </div>
</section>