<section class="container pt-2 pb-5 text-center">

	<div class="row">

		<div class="col-12 center-block">

				<h3>Zaloguj się</h3>

				<%= form_tag sessions_path do %>
				<%= text_field_tag :login, nil, placeholder: 'Wpisz login', class: 'form-control form-control-lg' %><br>
				<%= password_field_tag :password, nil, placeholder: 'Podaj hasło', class: 'form-control form-control-lg' %>

					<div class="pt-4 pb-5">
						<%= submit_tag 'Zaloguj', class: 'btn btn-lg btn-warning'  %>
						<%= link_to 'Powrót', root_path, class: 'btn btn-lg btn-info' %>
					</div>

				<% end %>

	

		</div>

	</div>

</section>

