<section class="container pb-5">

  <div class="row">

    <div class="col-12">

		  	
			<h4 class="text-center">Wyniki wyszukiwania</h4>
		
			  <table class="table table-hover table-striped table-warning text-center">

	            <% if current_user && current_user&.admin? %>

					<% @players.each do |player| %>
					
				      <tr>

				      <td>

					    <%= player.name %>
				  
				      </td>
				      <td>

					    <%= player.surname %>
				  
				      </td>
				      <td>

					    <%= player.club %>
				  
				      </td>


				      <td>

					    <%= link_to 'Pokaż', player_path(player), class: 'btn btn-sm btn-info' %>

				      </td>

				      <td>

					    <%= link_to 'Edytuj', edit_player_path(player), class: 'btn btn-lg btn-warning' %>

				      </td>
				
				      <td>
	              
	                    <%= link_to 'Usuń', player_path(player), class: 'btn btn-lg btn-danger', method: :delete, data: {confirm: "Czy na pewno usunąć?"} %>
	                
	                  </td>

	                <% end %>

				<% else %>

					<% @players.each do |player| %>
					
				     <tr>
				      <td>

					    <%= player.name %>
				  
				      </td>
				      <td>

					    <%= player.surname %>
				  
				      </td>
				      <td>

					    <%= player.club %>
				  
				      </td>

				      <td>
					    
					    <%= link_to 'Pokaż', player_path(player), class: 'btn btn-lg btn-info' %>
				      
				      </td>

				    <% end %>
				
				     </tr>

				<% end %>

				<% if current_user && current_user&.admin? %>

					<% @teams.each do |team| %>
					
				      <tr>
				      <td>

					    <%= team.name %>
				  
				      </td>

				      <td colspan="2"></td>

				      <td>

					    <%= link_to 'Pokaż', team_path(team), class: 'btn btn-lg btn-info' %>

				      </td>

				      <td>

					    <%= link_to 'Edytuj', edit_team_path(team), class: 'btn btn-lg btn-warning' %>

				      </td>
				
				      <td>
	              
	                    <%= link_to 'Usuń', team_path(team), class: 'btn btn-lg btn-danger', method: :delete, data: {confirm: "Czy na pewno usunąć?"} %>
	                
	                  </td>

	                <% end %>

				<% else %>

					<% @teams.each do |team| %>
					
				     <tr>
				      <td>

					  <%= team.name %>
				  
				      </td>

	                  <td colspan="2"></td>

				      <td>
					    
					    <%= link_to 'Pokaż', team_path(team), class: 'btn btn-lg btn-info' %>
				      
				      </td>

				    <% end %>
				
				     </tr>

				<% end %>

			</table>

		  </div>

		  	<p class="pt-5 pb-2 px-2">
				<%= link_to 'Strona Główna', root_path, class: 'btn btn-lg btn-primary'  %>
			</p>
   </div>
   
  </div>

</section>
