<section class="container pb-5 text-center">
	<div class="row">
	  <div class="col-12 center-block">

	        <%= form_for @user do |f| %>

	          <% if @user.errors.any? %>
		
		        <div id="Error_explanation">
			
			      <h2>
				    <%= pluralize(@user.errors.count, "error") %>
				    prohibited this article from being saved:
			      </h2>
				
				  <p>
				  <ul>
					  <% @user.errors.full_messages.each do |msg| %>
					    <li>
						  <%= msg %>
					    </li>
		              <% end %>
				  </ul>
				  </p>
		        </div>

		      <% end %>

	            <h3>Utwórz konto</h3>

		          <div class="pt-3">

			          <%= f.text_field :login, placeholder: 'Wpisz login', class: 'form-control form-control-lg'%><br>
			          <%= f.email_field :email, placeholder: 'Wpisz email', class: 'form-control form-control-lg'%><br>
			          <%= f.password_field :password, placeholder: 'Stwórz hasło', class: 'form-control form-control-lg' %><br>
			          <%= f.password_field :password_confirmation, placeholder: 'Powtórz hasło', class: 'form-control form-control-lg' %><br>

			          <div class="pb-5">
			          	<%= f.submit 'Zapisz', class: 'btn btn-lg btn-warning' %>
			          	<%= link_to 'Powrót', root_path, class: 'btn btn-lg btn-info' %>
			          </div>

			      </div>
		    <% end %>

	  </div>
	</div>
</section>