<div class="row" style="margin-left: 1rem; margin-right: 1rem;">
  <div class="col-12 col-sm-6 col-md-4">
    <div class="field" style="100%;">

        <%= form_for @user do |f| %>

          <% if @user.errors.any? %>
	
	        <div id="Error_explanation">
		
		      <h2>
			    <%= pluralize(@user.errors.count, "error") %>
			    prohibited this article from being saved:
		      </h2>
			
			  <p>
			  <ul>
				  <% @user.errors.full_messages.each do |msg| %>
				    <li>
					  <%= msg %>
				    </li>
	              <% end %>
			  </ul>
			  </p>
	        </div>

	      <% end %>

            <h3 class="user">Create account! </h3>

	          <div class="login_user">

		          <%= f.text_field :login, placeholder: 'Input a User ID', class: 'form-control'%><br>
		          <%= f.email_field :email, placeholder: 'Input your email', class: 'form-control'%><br>
		          <%= f.password_field :password, placeholder: 'Create a password', class: 'form-control' %><br>
		          <%= f.password_field :password_confirmation, placeholder: 'Confirm password', class: 'form-control' %><br>

		          <p style="margin-left: 10px;">
		          	<%= f.submit 'Create Account', class: 'btn btn-md btn-success' %>
		          </p>

		          <p style="margin-left: 10px;">
			        <%= link_to 'Back', root_path, class: 'btn btn-md btn-info' %>
		          </p>

		      </div>
	    <% end %>

    </div>


  </div>
</div>