<nav class="navbar navbar-expand-xl navbar-dark bg-dark">

      <div class="navbar-brand mx-auto" href="#" style="width:20vh;" >
        <%=link_to (image_tag 'image.png', style:"width:100%;"), root_path %>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">

        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <%= link_to 'Drużyny', teams_path, class: 'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to 'Zawodnicy', players_path, class: 'nav-link' %>
          </li>

           <li class="nav-item">
            <%= link_to 'Wyniki', matches_path, class: 'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to 'Tabela', tables_path, class: 'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to 'Facebook', "https://www.facebook.com/ksmetro", target: :_blank, class: 'nav-link' %> 
          </li>

          <li class="nav-item">
            <%= link_to 'KS Metro', "http://ksmetrowarszawa.pl/",  target: :_blank, class: 'nav-link' %>
          </li>

          <% if current_user && current_user.admin? %>

            <li class="nav-item">
              <%= link_to 'Wyloguj', session_path('active'), method: :delete, class: 'nav-link' %>
            </li>

          <% elsif current_user %>

            <li class="nav-item">
              <%= link_to 'Wyloguj', session_path('active'), method: :delete, class: 'nav-link' %>
            </li>

          <% else %>

            <li class="nav-item">
              <%= link_to 'Zaloguj', new_session_path, class: 'nav-link' %>
            </li>

            <li class="nav-item">
              <%= link_to 'Utwórz konto', new_user_path, class: 'nav-link' %>
            </li>

          <% end %>
          
        </ul>

          <div class="form-inline mt-2 mt-md-0">
            
            <%= form_tag search_index_path, method: :get do %>
            <%= text_field_tag :search, nil, placeholder: "Wpisz tekst", class: "form-control mr-sm-2" %>
            <%= submit_tag "Wyszukaj", class: "btn btn-lg btn-info my-2 my-sm-0" %>

          <% end %>

        </div>

      </div>
</nav>