<section class="container pb-5">

        <h3 class="text-center">Sezon 2018/2019</h3>

       <div class="table-responsive pb-2 text-center">
        <table class="table table-hover table-striped ">
        	<thead>
            <tr class="table-secondary">
  			
          <th>Position</th>
  			  <th>Team</th>
          <th>Mecze</th>
  			  <th>Points</th>
  			  <th>Sety+</th>
  			  <th>Sety-</th>
  		    
  		  </tr>
          </thead>
          <tbody>
        
              <% i = 1 %>

        			<% @tables.each do |table| %> 
                      
                      <tr class="table-warning">
                        <td><%= i %></td>
                        <td><%= Team.find_by(id: table.team_id).name %></td>
                        <td><%= table.game %></td>
                        <td><%= table.points %></td>
                        <td><%= table.set_plus %></td>
                        <td><%= table.set_minus %></td>

                    <% i += 1 %>

                    <% end %>
                  
                      </tr>
          </tbody>
          
        </table>
       </div>

      <div class="pb-5 text-center">

        <p>Faza główna, klasyfikacja ogólna - uwzględnia wyniki wszystkich rozegranych meczów</p>
        <p>Puktacja: 3 punkty za zwycięstwo 3:0 lub 3:1, 2 punkty za zwycięstwo 3:2, 1 punkty za porażkę 2:3, 0 punkty za porażkę 1:3 i 0:3.</p>

      </div>

</section>