<div class="row">
  <div class="col"> </div>
    <div class="col-12">

      <h3>Sezon 2018/2019</h3>
      <p>Main phase, general classification - takes into account the results of all matches played, including promotion matches.</p>
      <p>Points: 3 points for winning 3:0 and 3:1, 2 points for winning 3:2, 1 point for defeat 2:3, 0 points for losing 1:3 and 0:3.</p>
     <div class="table-responsive-xs">     
      <table class="table table-hover table-striped table-danger>
      	<thead>
          <tr class="table-secondary">
			
        <th>Position</th>
			  <th>Team</th>
        <th>Mecze</th>
			  <th>Points</th>
			  <th>Sety+</th>
			  <th>Sety-</th>
		    
		  </tr>
        </thead>
        <tbody>
      
            <% i = 1 %>

      			<% @tables.each do |table| %> 
                    
                    <tr class="table-warning">
                      <td><%= i %></td>
                      <td><%= Team.find_by(id: table.team_id).name %></td>
                      <td><%= table.game %></td>
                      <td><%= table.points %></td>
                      <td><%= table.set_plus %></td>
                      <td><%= table.set_minus %></td>

                  <% i += 1 %>

                  <% end %>
                
                    </tr>
        </tbody>
        
      </table>
     </div>
        <div>

          <p>The order in the table after each game queue (table) is determined by the number of match points scored. In the case of an equal number of match points, the higher place in the table will be decided by the decision maker:</p>

          <p>a) a better (higher) ratio of sets gained to lost,</p>

          <p>b) better (higher) ratio of small points scored to small points lost.</p>

          <p>If, despite the above rules, it is still not possible to determine the order, the higher position in the table is determined by the results of matches played between the teams concerned in a given season.</p>

        </div>
    </div>
  <div class="col"> </div>
</div>