<div class="row" >
  <div class="col"> </div>
    <div class="col-sm-12" style="margin-left: 0.75rem;">

      <%= will_paginate @players, previous_label: "<", next_label: ">"  %>

        <div class="col-sm-12">

          <h2>List of players: </h2>

            <% if current_user && current_user&.admin? %>

          <p>
            <%= link_to "Add new player", new_player_path, class: 'btn btn-lg btn-info' %>
          </p>

            <% end %>
        
           <div class="row">

            <% @players.each do |player| %>

              <div class="col-12 col-sm-6 col-md-4" style="padding: 0.5rem;">
                <div class="card"> 
                  <div class="card-topper">

                    <% if player.image.present? %>

                      <%= link_to image_tag(player.image.url, :alt => "Player", class: "players"), player_path(player)%>

                    <% else %>

                      No image

                    <% end %>

                  </div>

                  <div class="card-block">

                    <h5 class="card-title">
                      <%= player.name + " " + player.surname  %>
                    </h5>

                      <%= link_to 'More', player_path(player), class: 'btn btn-sm btn-info'%>

                      <% if current_user && current_user.admin? %>

                      <%= link_to 'Edit', edit_player_path(player), class: 'btn btn-sm btn-warning' %>
                      <%= link_to 'Delete', player_path(player), class: 'btn btn-sm btn-danger', method: :delete, data: {confirm: "Are you sure?"} %>

                       <% end %>
                  </div>
                </div>
              </div>
            <% end %>
        </div>
    </div>
  <div class="col"> </div>
</div>
