<section class="container pt-2 pb-5">
  <div class="row">
    <div class="col-12">

        <%= will_paginate @players, previous_label: "<", next_label: ">"  %>

          <div class="col-12">

            <h2 class="text-center">Lista zawodników: </h2>

              <% if current_user && current_user&.admin? %>

            <p>
              <%= link_to "Dodaj zawodnika", new_player_path, class: 'btn btn-lg btn-info' %>
            </p>

              <% end %>
          
             <div class="row pb-5">

              <% @players.each do |player| %>

                <div class="col-12 col-sm-6 col-md-4">
                  <div class="card"> 
                    <div class="card-topper">

                      <% if player.image.present? %>

                        <%= link_to image_tag(player.image.url, alt: "Player", class: "picture"), player_path(player)%>

                      <% else %>

                        <p>No image</p>

                      <% end %>

                    </div>

                    <div class="card-block">

                      <h5 class="card-title">
                        <%= player.name + " " + player.surname  %>
                      </h5>

                        <%= link_to 'Więcej', player_path(player), class: 'btn btn-lg btn-info'%>

                        <% if current_user && current_user.admin? %>

                          <%= link_to 'Edytuj', edit_player_path(player), class: 'btn btn-lg btn-warning' %>
                          <%= link_to 'Usuń', player_path(player), class: 'btn btn-lg btn-danger', method: :delete, data: {confirm: "Czy na pewno?"} %>

                         <% end %>

                    </div>

                  </div>
                </div>

              <% end %>

          </div>

    </div>
  </div>
</section>