<div class="row" style="padding-top: 150px; padding-bottom: 150px;">
  <div class="col"> </div>
    <div class="col-md-10">

        <p>
          <% if @player.photo.present? %>
            <%= image_tag(@player.photo.url, style: "width:25%;") %>
          <% else %>
            <%= image_tag 'volley.jpg', style: "width:25%;" %>
          <% end %> 
        </p>  
        <p>
          <strong>Name:</strong>
            <%= @player.name %>
        </p>
        <p>
          <strong>Surname:</strong>
            <%= @player.surname %>
        </p>
        <p>
          <strong>Age:</strong>
            <%= @player.age %>
        </p>
        <p>
          <strong>Nationality:</strong>
            <%= @player.nationality %>
        </p>
        <p>
          <strong>Position:</strong>
            <%= @player.position %>
        </p>
         <p>
          <strong>Club:</strong>
            <%= @player.club %>
        </p>
        <p>
          <strong>Created at:</strong>
            <%= @player.created_at %>
        </p>
        <p>
          <strong>Updated at:</strong>
            <%= @player.updated_at %>
        </p>      

          <%= link_to 'Back', players_path, class: 'btn btn-md btn-info' %>
        
    </div>
  <div class="col"> </div>
</div>