<section class="container-fluid pt-2 pb-5 text-center">
  <div class="row">
      <div class="col-12">

          <p>
            <% if @player.image.present? %>
              <%= image_tag(@player.image.url, style: "width:50%;") %>
            <% else %>
              <%= image_tag 'volley.jpg', style: "width:50%;" %>
            <% end %> 
          </p>  
          <p>
            <strong>Imię:</strong>
              <%= @player.name %>
          </p>
          <p>
            <strong>Nazwisko:</strong>
              <%= @player.surname %>
          </p>
          <p>
            <strong>Wiek:</strong>
              <%= @player.age %>
          </p>
          <p>
            <strong>Narodowość:</strong>
              <%= @player.nationality %>
          </p>
          <p>
            <strong>Pozycja:</strong>
              <%= @player.position %>
          </p>
           <p>
            <strong>Klub:</strong>
              <%= @player.club %>
          </p>     

        <div class="pb-5 float-left">

          <%= link_to 'Powrót', players_path, class: 'btn btn-lg btn-primary' %>    
        </div> 

      </div>
  </div>
</section>
