<section class="container pb-5">
  <div class="row">
    <div class="col-12">

        <%= will_paginate @matches, previous_label: "<", next_label: ">" %>

          <div class="col-12">

              <h2 class="text-center">Terminarz: </h2>

                <% if current_user && current_user.admin? %>

              <p>
                <%= link_to "Dodaj mecz", new_match_path, class: 'btn btn-lg btn-info' %>
              </p>

                <% end %>
          
              <div class="row pb-5">

                  <% @matches.each do |match| %>

                    <div class="col-12 col-sm-6 col-md-4 p-2">
                      <div class="card"> 
                        <div class="card-block text-center picture">

                          <div class="card-title">
                            <h6> <%= match.home&.name %><h6>
                             && <h6><%= match.quest&.name %></h6>
                            <!-- <%= match.score_team_A_match %> : <%= match.score_team_B_match %>  -->
                          </div>

                              <%= link_to 'Więcej', match_path(match), class: 'btn btn-lg btn-info'%>

                            <% if current_user && current_user.admin? %>

                              <%= link_to 'Edytuj', edit_match_path(match), class: 'btn btn-lg btn-warning' %>
                              <%= link_to 'Usuń', match_path(match), class: 'btn btn-lg btn-danger', method: :delete, data: {confirm: "Czy na pewno?"} %>

                            <% end %>

                        </div>
                      </div>
                    </div>

                  <% end %>

              </div>

          </div>

      </div>
  </div>
</section>
