<section class="container pt-5 pb-5">
  <div class="row pt-5">
    <div class="col pt-5"> </div>
      <div class="col-12 pt-5">

        <%= will_paginate @matches, previous_label: "<", next_label: ">" %>

          <div class="col-12">

              <h2>List of matches: </h2>

                <% if current_user && current_user.admin? %>

              <p>
                <%= link_to "Add new match", new_match_path, class: 'btn btn-lg btn-info' %>
              </p>

                <% end %>
          
              <div class="row pb-5">

                  <% @matches.each do |match| %>

                    <div class="col-12 col-sm-6 col-md-4 p-2">
                      <div class="card"> 
                        <div class="card-block">

                          <div class="card-title text-sm-left">
                            <p> <%= match.home&.name %> - <%= match.quest&.name %></p>
                            <!-- <%= match.score_team_A_match %> : <%= match.score_team_B_match %>  -->
                          </div>

                              <%= link_to 'More', match_path(match), class: 'btn btn-sm btn-info'%>

                            <% if current_user && current_user.admin? %>

                              <%= link_to 'Edit', edit_match_path(match), class: 'btn btn-sm btn-warning' %>
                              <%= link_to 'Delete', match_path(match), class: 'btn btn-sm btn-danger', method: :delete, data: {confirm: "Are you sure?"} %>

                            <% end %>

                        </div>
                      </div>
                    </div>
                  <% end %>
              </div>
          </div>
      </div>
    <div class="col"> </div>
  </div>
</section>
