<div class="row" style="padding-top: 100px;">
  <div class="col"> </div>
    <div class="col-md-10">
 
        <p>
          <strong>Round:</strong>
            <%= @match.round %>
        </p>
        <p>
          <strong>Match number:</strong>
            <%= @match.match_number %>
        </p>
        <p>
          <strong>Date:</strong>
            <%= @match.date %>
        </p>
        <p>
          <strong>Place:</strong>
            <%= @match.place %>
        </p>
        <p>
          <strong>City: </strong>
            <%= @match.city %>
        </p>
        <p>
          <strong>Home: </strong>
            <%= @match.home.name %>
        </p>
        <p>
          <strong>Home: </strong>
            <%= @match.quest.name %>
        </p>
        <p>
          <strong>Team A:</strong>
            <%= @match.score_team_A_match %>
        </p>
        <p>
          <strong>Team B:</strong>
            <%= @match.score_team_B_match %>
        </p> 
        <p>
          <strong>Team A:</strong>
            <%= @match.score_team_A_set_1 %>
        </p>
         <p>
          <strong>Team B:</strong>
            <%= @match.score_team_B_set_1 %>
        </p>
         <p>
          <strong>Team A:</strong>
            <%= @match.score_team_A_set_2 %>
        </p>
         <p>
          <strong>Team B:</strong>
            <%= @match.score_team_B_set_2 %>
        </p>
         <p>
          <strong>Team A:</strong>
            <%= @match.score_team_A_set_3 %>
        </p>
         <p>
          <strong>Team B:</strong>
            <%= @match.score_team_B_set_3 %>
        </p>
         <p>
          <strong>Team A:</strong>
            <%= @match.score_team_A_set_4 %>
        </p>
         <p>
          <strong>Team B:</strong>
            <%= @match.score_team_B_set_4 %>
        </p>
         <p>
          <strong>Team A:</strong>
            <%= @match.score_team_A_set_5 %>
        </p>
         <p>
          <strong>Team B:</strong>
            <%= @match.score_team_B_set_5 %>
        </p>

          <%= link_to 'Back', matches_path, class: 'btn btn-md btn-info' %>
        
    </div>
  <div class="col"> </div>
</div>