<section class="container-fluid pt-2 pb-5 text-center">
  <div class="row">
      <div class="col-12">
        <p>
          <strong>Kolejka:</strong>
            <%= @match.round %>
        </p>
        <p>
          <strong>Numer meczu:</strong>
            <%= @match.match_number %>
        </p>
        <p>
          <strong>Data:</strong>
            <%= @match.date %>
        </p>
        <p>
          <strong>Miejsce:</strong>
            <%= @match.place %>
        </p>
        <p>
          <strong>Miasto: </strong>
            <%= @match.city %>
        </p>
        <p>
          <strong>Gospodarz: </strong>
            <%= @match.home.name %>
        </p>
        <p>
          <strong>Gość: </strong>
            <%= @match.quest.name %>
        </p>

        <p>Wynik</p>

        <p>
          <strong><%= @match.home.name %>: </strong>
            <%= @match.score_team_A_match %>
        </p>
        
        <p>
          <strong><%= @match.quest.name %>: </strong>
            <%= @match.score_team_B_match %>
        </p> 

        <div class="pb-5 float-left">

          <%= link_to 'Powrót', matches_path, class: 'btn btn-lg btn-primary' %>    
        </div> 

      </div>
  </div>
</section>