<!DOCTYPE html>
<html>
  <head>
    <title>Volleyball</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user=scalable=no" name="viewport">
  </head>

  <body>

    <%= render 'shared/navigation' %>

      <div class="pt-5 text-center">
        
        <% if notice %>

          <%= notice %>
                    
        <% end %>
                   
        <% if alert %>

          <%= alert %>
                    
        <% end %>

      </div>

      <%= yield %>
        
    <%= render 'shared/footer' %>

  </body>
</html>
