<!DOCTYPE html>
<html>
  <head>
    <title>Volleyball</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <%= render 'shared/navigation' %>

    <div class="container">
     
        <% if notice %>
         <div class="show_notice" style="padding-top: 150px;">
        <%= notice %>
        </div>
        <% end %>
      </div>
       
        <% if alert %>
         <div class="show_alert" style="padding-top: 150px;">
        <%= alert %>
        </div>
        <% end %>
      </div>

      <%= yield %>
    </div>
    
      <%= render 'shared/footer' %>
  </body>
</html>
