<!DOCTYPE html>
<html>
  <head>
    <title>Volleyball</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body id="flex">

    <div >

      <%= render 'shared/navigation' %>

        <div class="container" style="padding-top: 150px;">
         
            <% if notice %>
             <div class="show_notice">
            <%= notice %>
            </div>
            <% end %>
          </div>
           
            <% if alert %>
             <div class="show_alert">
            <%= alert %>
            </div>
            <% end %>
          </div>

          <%= yield %>
        </div>
    
      <%= render 'shared/footer' %>

    </div>
  </body>
</html>
